* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* .spinner {} */

.spinner-text {
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
    animation: blinking 2s infinite linear;
}

.rect {
    background-color: black;
    width: 10px;
    height: 4px;
    border-radius: 2px;
    animation: moving 2s infinite linear;
    animation-direction: alternate;
}