* {
    box-sizing: border-box;
}

table {
    margin: 16px;
    text-align: center;
}

td {
    width: 50px;
    height: 50px;
}

table,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) > td:nth-child(odd) {
    background-color: black;
}

tr:nth-child(odd) > td:nth-child(even) {
    background-color: black;
}

tr > td:first-child,
tr > td:last-child {
    background-color: white !important;
    border: none;
}

.first_string > td,
.last_string > td {
    background-color: white !important;
    border: none;
}

.string > td {
    background-color: white !important;
    border: none;
}