* {
    box-sizing: border-box;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-height: 200px;
    background-color: #ff7f50;
}

.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #006400;
    min-height: 200px;
}

.news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #0ff;
    min-height: 200px;
}

span {
    text-transform: lowercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    background-color: #faebd7;
    border-radius: 4px;
}

@media screen and (min-width: 600px) {
    .products {
        display: flex;
    }
}

@media screen and (min-width: 900px) {
    .content {
        display: flex;
    }

    .navigation,
    .product-list,
    .news {
        width: calc(100vw / 3);
    }
}